NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

PLASMO_PUBLIC_SUPABASE_URL=
PLASMO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
PLASMO_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_FRONTEND_API=
PLASMO_PUBLIC_CLERK_SYNC_HOST=
PLASMO_PUBLIC_DASHBOARD_URL=
